body, select, button {
  background-color: #f7faff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  margin-top: 20px;
}

.debug {
  font-size: 12pt;
}

hr {
  margin-top: 40px;
  xcolor: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre {
  background-color: #EEEEEE;
}

.error {
  font-weight: 700;
  background-color: #ffcccc !important;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 66px;
  background-color: #FF8040;
  position: relative;
}

.aut-banner-logo {
  display: flex;
  align-items: center;
}

.card {
  max-width: 480px;
  margin: 80px auto 20px auto;
  margin-bottom: 20px;
  margin-bottom: 20px;
  border: solid 1px rgb(0, 0, 0, 0.1);
  background-color: white;
  padding: 32px;
}

.header {
  padding: 16px 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.87);
}

.select-title {
  margin-bottom: 5px;
}

.loading {
  margin-top: 40px;
}